
header{  
    background-color: #0cb7f2;
    height: 250px;
    background-size: cover;
}

h1{
    color:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main{ 
    height:300px;
}

h2{
    text-align: center;
}

footer{ 
    background-color: #0cb7f2;    
    height: 75px;
    background-size: cover; 
    
}

 
  
